/* Portfolio Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-primary: white;
    --color-primary: #030615;
    --border-radius-small: 0.5rem;
    --border-radius-large: 0.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: var(--background-primary);
    color: var(--color-primary);
    font-size: 1rem;
    line-height: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 2rem 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255, 0.9);
    z-index: 1000;
    /* Put header is above other elements */
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 3rem 0 3rem;
}

section {
    margin: 8rem 0 1rem 0;
}

h1 {
    font-size: 4.5rem;
    line-height: 120%;
    font-weight: 600;
}

h2 {
    margin-bottom: 1rem;
}

.about-text {
    font-size: 2rem;
    font-weight: 300;
    line-height: 150%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
}

footer {
    margin: 8rem 0 4rem 0;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
}

.footer-text {
    font-weight: 300;
    line-height: 150%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
}